@import url("https://fonts.googleapis.com/css2?family=Exo&display=swap");

$mainColor: #155d74;

body {
  font-family: "Exo", sans-serif;
}

html {
  scroll-behavior: smooth;
}



// start floating
#floating{
  position: fixed;
  z-index: 1;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  border-radius: 5px;
  bottom: 15px;
  right: 20px;
  cursor: pointer;
  background-color: rgba(21, 93, 116, .6);
  opacity: 0;
  transition: all .5s;
  i{
    color: #fff;
  }
}


// start top header
.top-header {
  padding: 10px;

  .border-bottom {
    padding: 10px;
    border-bottom: 1px solid #000;
  }

  .info {
    span:first-child {
      padding: 10px 0px 10px 10px;
    }

    span:last-child {
      padding: 10px 10px 10px 0px;
    }

    i {
      color: $mainColor;
      margin-left: 5px;
    }
  }

  .social {
    text-align: right;

    i {
      color: #555;
      margin-right: 5px;
      transition: all 0.5s ease;

      &:hover {
        color: $mainColor;
      }
    }
  }
}

// start navbar
.navbar {
  transition: 1s;
  .nav-item {
    .nav-link {
      color: #000;
    }
  }
  .navbar-brand{
    display: none;
  }

  .active {
    .nav-link {
      background-color: $mainColor;
      color: #fff !important;
      border-radius: 10px;
    }
  }
}

.fixed-navbar{
  position: sticky !important;
  background-color: $mainColor;
  top: 0;
  z-index: 10000;
  .nav-link{
    color: #fff !important;
  }
  .navbar-brand{
    display: block;
    color: #fff;
  }
  .active{
    .nav-link{
      background-color: #fff;
      color: #000 !important;
    }
  }
}

/* ---- particles.js container ---- */
canvas {
  display: block;
  vertical-align: bottom;
}

#particles-js {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: transparent;
  background-image: url("");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  z-index: 1;
}


// start header
.header {
  // background-image: linear-gradient(to left, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url('../images/bg-masthead.jpg');
  background-color: $mainColor;
  height: 560px;
  background-size: cover;
  position: relative;

  .header-caption {
    position: absolute;
    padding: 20px;
    padding-bottom: 0;
    z-index: 1;
    top: 40%;
    width: 50%;
    height: 140px;
    background-image: linear-gradient(to right, rgba(255, 255, 255, .6), rgba(255, 255, 255, .3)) ;
    border-left: 3px solid #fff;
    font-size: 30px;

    .header-caption-h5 {
      text-transform: uppercase;
    }

    .info-slag {
      margin-top: 10px;

      .type-parent {
        font-size: 25px;
      }

      .type {
        text-transform: uppercase;
        color: $mainColor;
        font-weight: bold;
      }
    }

    // .btn-download {
    //   margin-top: 10px;

    //   .btn {
    //     background-color: $mainColor;
    //     color: #fff;
    //     font-size: 14px;

    //     i {
    //       font-size: 13px;
    //     }
    //   }
    // }
  }
}

.section {
  .section-header {
    text-align: left;
    position: relative;
    text-transform: uppercase;

    h5 {
      font-size: 30px;
      letter-spacing: 5px;
    }

    &::after {
      position: absolute;
      content: "";
      width: 50px;
      height: 3px;
      background-color: $mainColor;
      bottom: -5px;
    }
  }
}

// start about-section
.about-section {
  margin-top: 50px;

  .about-img {
    margin-top: 40px;

    img {
      width: 80%;
      border-radius: 10px;
    }
  }

  .about-content {
    margin-top: 120px;
    border-radius: 10px;
    position: absolute;
    left: -120px;
    background-color: #fff;
    padding: 13px;
    width: 100%;
  }
}

// start project-section
.project-section {
  margin-top: 30px;
  height: auto;
  padding-top: 90px;
  // padding-bottom: 40px;
  background-color: #f1f1f1;
  margin-bottom: 100px;
  .row{
    margin: 0;
    margin-top: 50px;
    .col-lg-4{
      padding: 0;
      margin: 0;
    }
  }
  .card{
    border: 0;
    padding: 0;
    position: relative;
    .play{
      position: absolute;
      top: 50%;
      left:50%;
      transform: translate(-50%, -50%);
      i{
        background-color: #fff;
        width: 50px;
        height: 50px;
        text-align: center;
        line-height: 50px;
        border-radius: 50%;
        color: $mainColor;
        font-size: 13px;
        // box-shadow: 5px 5px 20px #fff;
        animation: play-button 2s ease infinite;
      }
    }
    img{
      width: 100%;
      height: 300px;
    }
  }
}


.contact-information {
  margin-top: 70px;
  .card {
    border: 0;
    margin-top: 35px;
    border-right: 1px solid #e2e1e1;
    border-radius: 0;
    height: 150px;
    .header-i {
      font-size: 30px;
      color: $mainColor;
      margin-bottom: 10px;
    }
    h6 {
      font-weight: bold;
    }
    p {
      margin: 0;
      color: #444;
    }
    .social {
      margin-top: 1px;
      span {
        a {
          color: #444;
          font-size: 20px;
          margin-left: 10px;
          &:hover{
            color: $mainColor;
          }
        }
      }
    }
    .egypt-emiji{
      font-weight: bold;
      font-size: 20px;
    }
  }
  .first-card {
    border-right: 0 !important;
  }
}

.copy{
  margin-top: 90px;
  background-color: $mainColor;
  color: #fff;
  height: 50px;
  h6{
    margin: 0;
    line-height: 50px;
  }
}

@media(max-width: 800px) {
  .about-section {
    .about-content {
      margin-top: -6px;
      left: -55px;
    }
  }

  .navbar {
    .navbar-nav {
      text-align: center;
      margin-top: 15px;
    }
  }

  .header {
    padding-top: 100px;

    .header-caption {
      position: unset;
      width: 70%;
      ;
    }
  }

  .project-section {
    margin-top: 90px;

    .project-slider {
      .slick-prev {
        left: 80%;
        top: -3%;
      }

      .slick-next {
        top: -3%;
      }
    }
  }

  .contact-information {
    .card {
      border-right: 0 !important;
      padding-bottom: 20px;
      border-bottom: 1px solid #f5f5f5 !important;
    }
  }
}


@media(max-width: 524px) {
  .top-header {
    .social {
      text-align: left;
      margin-top: 10px;
    }
  }

  .header {
    .header-caption {
      width: 90%;
      height: auto;
    }
  }

  .about-section {
    .about-content {
      position: unset;
      margin-top: 0;
    }
  }

  .project-section {
    margin-top: 90px;

    .project-slider {
      .slick-prev {
        left: 75%;
        top: 0%;
        &::before {
          width: 30px !important;
          height: 30px !important;
          line-height: 30px !important;
        }
      }
      .slick-next {
        top: 0%;
        &::before {
          width: 30px !important;
          height: 30px !important;
          line-height: 30px !important;
        }
      }
    }
  }
}


@keyframes play-button{
  0%{
    box-shadow: 2px 4px 15px #fff;
  }
  50%{
    box-shadow: 0px 0px 0px #fff;
  }
  100%{
    box-shadow: 2px 4px 15px #fff;
  }
}



%initlizeFonAwesomeAfter {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
}

%headerArrows {
  display: inline-block;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  background-color: $mainColor;
}