@import url("https://fonts.googleapis.com/css2?family=Exo&display=swap");
body {
  font-family: "Exo", sans-serif;
}

html {
  scroll-behavior: smooth;
}

#floating {
  position: fixed;
  z-index: 1;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  border-radius: 5px;
  bottom: 15px;
  right: 20px;
  cursor: pointer;
  background-color: rgba(21, 93, 116, 0.6);
  opacity: 0;
  transition: all 0.5s;
}
#floating i {
  color: #fff;
}

.top-header {
  padding: 10px;
}
.top-header .border-bottom {
  padding: 10px;
  border-bottom: 1px solid #000;
}
.top-header .info span:first-child {
  padding: 10px 0px 10px 10px;
}
.top-header .info span:last-child {
  padding: 10px 10px 10px 0px;
}
.top-header .info i {
  color: #155d74;
  margin-left: 5px;
}
.top-header .social {
  text-align: right;
}
.top-header .social i {
  color: #555;
  margin-right: 5px;
  transition: all 0.5s ease;
}
.top-header .social i:hover {
  color: #155d74;
}

.navbar {
  transition: 1s;
}
.navbar .nav-item .nav-link {
  color: #000;
}
.navbar .navbar-brand {
  display: none;
}
.navbar .active .nav-link {
  background-color: #155d74;
  color: #fff !important;
  border-radius: 10px;
}

.fixed-navbar {
  position: sticky !important;
  background-color: #155d74;
  top: 0;
  z-index: 10000;
}
.fixed-navbar .nav-link {
  color: #fff !important;
}
.fixed-navbar .navbar-brand {
  display: block;
  color: #fff;
}
.fixed-navbar .active .nav-link {
  background-color: #fff;
  color: #000 !important;
}

/* ---- particles.js container ---- */
canvas {
  display: block;
  vertical-align: bottom;
}

#particles-js {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: transparent;
  background-image: url("");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  z-index: 1;
}

.header {
  background-color: #155d74;
  height: 560px;
  background-size: cover;
  position: relative;
}
.header .header-caption {
  position: absolute;
  padding: 20px;
  padding-bottom: 0;
  z-index: 1;
  top: 40%;
  width: 50%;
  height: 140px;
  background-image: linear-gradient(to right, rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.3));
  border-left: 3px solid #fff;
  font-size: 30px;
}
.header .header-caption .header-caption-h5 {
  text-transform: uppercase;
}
.header .header-caption .info-slag {
  margin-top: 10px;
}
.header .header-caption .info-slag .type-parent {
  font-size: 25px;
}
.header .header-caption .info-slag .type {
  text-transform: uppercase;
  color: #155d74;
  font-weight: bold;
}

.section .section-header {
  text-align: left;
  position: relative;
  text-transform: uppercase;
}
.section .section-header h5 {
  font-size: 30px;
  letter-spacing: 5px;
}
.section .section-header::after {
  position: absolute;
  content: "";
  width: 50px;
  height: 3px;
  background-color: #155d74;
  bottom: -5px;
}

.about-section {
  margin-top: 50px;
}
.about-section .about-img {
  margin-top: 40px;
}
.about-section .about-img img {
  width: 80%;
  border-radius: 10px;
}
.about-section .about-content {
  margin-top: 120px;
  border-radius: 10px;
  position: absolute;
  left: -120px;
  background-color: #fff;
  padding: 13px;
  width: 100%;
}

.project-section {
  margin-top: 30px;
  height: auto;
  padding-top: 90px;
  padding-bottom: 60px;
  background-color: #f1f1f1;
  margin-bottom: 100px;
}
.project-section .row {
  margin: 0;
  margin-top: 50px;
}
.project-section .row .col-lg-4 {
  padding: 0;
  margin: 0;
}
.project-section .card {
  border: 0;
  padding: 0;
  position: relative;
}
.project-section .card .play {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.project-section .card .play i {
  background-color: #fff;
  width: 50px;
  height: 50px;
  text-align: center;
  line-height: 50px;
  border-radius: 50%;
  color: #155d74;
  font-size: 13px;
  animation: play-button 2s ease infinite;
}
.project-section .card img {
  width: 100%;
  height: 270px;
}
.project-section .btn-more {
  margin-top: 40px;
}
.project-section .btn-more .btn {
  text-align: center;
  background-color: #155d74;
  color: #fff;
  width: 200px;
  padding: 10px;
  color: #fff;
  box-shadow: 0px 6px 2px 0px #1d6c86e7;
}
.project-section .btn-more .btn i {
  font-size: 12px;
  margin-left: 6px;
}
.project-section .more-project {
  transition: 0.5s;
  opacity: 0;
  display: none;
}

.contact-information {
  margin-top: 70px;
}
.contact-information .card {
  border: 0;
  margin-top: 35px;
  border-right: 1px solid #e2e1e1;
  border-radius: 0;
  height: 150px;
}
.contact-information .card .header-i {
  font-size: 30px;
  color: #155d74;
  margin-bottom: 10px;
}
.contact-information .card h6 {
  font-weight: bold;
}
.contact-information .card p {
  margin: 0;
  color: #444;
}
.contact-information .card .social {
  margin-top: 1px;
}
.contact-information .card .social span a {
  color: #444;
  font-size: 20px;
  margin-left: 10px;
}
.contact-information .card .social span a:hover {
  color: #155d74;
}
.contact-information .card .egypt-emiji {
  font-weight: bold;
  font-size: 20px;
}
.contact-information .first-card {
  border-right: 0 !important;
}

.copy {
  margin-top: 90px;
  background-color: #155d74;
  color: #fff;
  height: 50px;
}
.copy h6 {
  margin: 0;
  line-height: 50px;
}

@media (max-width: 800px) {
  .about-section .about-content {
    margin-top: -6px;
    left: -55px;
  }

  .navbar .navbar-nav {
    text-align: center;
    margin-top: 15px;
  }

  .header {
    padding-top: 100px;
  }
  .header .header-caption {
    position: unset;
    width: 70%;
  }

  .project-section {
    margin-top: 90px;
  }
  .project-section .project-slider .slick-prev {
    left: 80%;
    top: -3%;
  }
  .project-section .project-slider .slick-next {
    top: -3%;
  }

  .contact-information .card {
    border-right: 0 !important;
    padding-bottom: 20px;
    border-bottom: 1px solid #f5f5f5 !important;
  }
}
@media (max-width: 524px) {
  .top-header .social {
    text-align: left;
    margin-top: 10px;
  }

  .header .header-caption {
    width: 90%;
    height: auto;
  }

  .about-section .about-content {
    position: unset;
    margin-top: 0;
  }

  .project-section {
    margin-top: 90px;
  }
  .project-section .project-slider .slick-prev {
    left: 75%;
    top: 0%;
  }
  .project-section .project-slider .slick-prev::before {
    width: 30px !important;
    height: 30px !important;
    line-height: 30px !important;
  }
  .project-section .project-slider .slick-next {
    top: 0%;
  }
  .project-section .project-slider .slick-next::before {
    width: 30px !important;
    height: 30px !important;
    line-height: 30px !important;
  }
}
@keyframes play-button {
  0% {
    box-shadow: 2px 4px 15px #fff;
  }
  50% {
    box-shadow: 0px 0px 0px #fff;
  }
  100% {
    box-shadow: 2px 4px 15px #fff;
  }
}

/*# sourceMappingURL=style.css.map */
